n8n-workflows/aliexpress-product-scraper.json
{
  "nodes": [
    {
      "parameters": {
        "jsCode": "// 1. Nettoyage réponse Mistral\nlet raw = $input.all()[0].json.output || $input.all()[0].json.text || '';\nraw = raw.replace(/```json|```/gi, '').trim();\nconst search = JSON.parse(raw);\n\n// 2. Construire l'URL de recherche AliExpress\nconst keywords = encodeURIComponent(search.keywords);\nconst searchUrl = `https://www.aliexpress.com/wholesale?SearchText=${keywords}&g=y&page=1`;\n\nreturn [{ \n  json: { \n    searchUrl,\n    search \n  } \n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        740,
        400
      ],
      "id": "67b92fae-0148-4dcb-9395-960b4c33d202",
      "name": "Build Search URL"
    },

    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        280,
        400
      ],
      "id": "dc175a16-8f87-4c06-afa3-2d904a1e945c",
      "name": "Toutes les 12h1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Tu es un expert curation AliExpress pour un site e-commerce au Bénin.\n\nRègles strictes :\n- Choisis UNE SEULE catégorie parmi : Électronique, Téléphones & Accessoires, Vêtements Femme, Vêtements Homme, Chaussures, Maison & Jardin, Cuisine & Salle de Bain, Sport & Loisirs, Cosmétiques & Soins, Bébé & Enfant, Montres & Bijoux\n- Varie à chaque fois\n- Prix entre 8 et 60 USD max\n- Produits très demandés au Bénin : écouteurs bluetooth, coques téléphone, chargeurs, robes d’été, sandales, ventilateurs USB, lampes solaires, jouets enfants, organisateurs cuisine, etc.\n\nRéponds UNIQUEMENT avec ce JSON (rien d’autre, pas de ```json) :\n\n{\n  \"keywords\": \"mots-clés en anglais, 2-4 mots\",\n  \"category\": \"nom exact de la catégorie\"\n}",
        "options": {}
      },
      "id": "f4fb1c9c-29bc-49c9-b66e-cd12f527b974",
      "name": "Mistral AI Agent2",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        440,
        400
      ]
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        540,
        600
      ],
      "id": "cc1e0ba1-d6d2-4bc7-8855-6fabc4539d15",
      "name": "Mistral Model1",
      "credentials": {
        "mistralCloudApi": {
          "id": "BKzjfBrLCSzgwhVD",
          "name": "Mistral latest"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.searchUrl }}",
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": true,
              "maxRedirects": 5
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        940,
        400
      ],
      "id": "2aba0e9e-b6d2-4f57-8ed1-ebd0866270e3",
      "name": "Scrape AliExpress"
    },
    {
      "parameters": {
        "jsCode": "// Récupérer le HTML (peut être string ou objet)\nlet htmlContent = $input.first().json.body || $input.first().json;\nconst search = $('Build Search URL').item.json.search;\n\n// Convertir en string si c'est un objet\nif (typeof htmlContent !== 'string') {\n  htmlContent = JSON.stringify(htmlContent);\n}\n\n// Extraire les IDs de produits du HTML\nconst allIds = [];\n\n// Pattern 1: productId dans le JSON embarqué\nconst pattern1 = /productId[\"']?:\\s*[\"']?(\\d{10,})/gi;\nlet match1;\nwhile ((match1 = pattern1.exec(htmlContent)) !== null) {\n  allIds.push(match1[1]);\n}\n\n// Pattern 2: URLs dans le HTML\nconst pattern2 = /item\\/(\\d{10,})\\.html/gi;\nlet match2;\nwhile ((match2 = pattern2.exec(htmlContent)) !== null) {\n  allIds.push(match2[1]);\n}\n\n// Dédupliquer\nconst uniqueIds = [...new Set(allIds)];\n\nif (uniqueIds.length === 0) {\n  return [{ json: { \n    message: \"❌ Aucun produit trouvé pour: \" + search.keywords + \"\\n\\nNouvelle tentative dans 12h\",\n    count: 0,\n    search\n  }}];\n}\n\n// Limiter à 50 URLs max\nconst selectedIds = uniqueIds.slice(0, 50);\nconst urls = selectedIds.map(id => `https://www.aliexpress.com/item/${id}.html`);\n\nreturn [{ json: { \n  message: urls.join('\\n'),\n  count: urls.length,\n  search\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        400
      ],
      "id": "264bfd93-ee13-4d97-9ba2-e786d8f0d182",
      "name": "Extract Product IDs"
    },
    {
      "parameters": {
        "chatId": "8198321174",
        "text": "=✅ Scraping AliExpress terminé\n\n📦 Catégorie : {{ $json.search.category }}\n🔍 Mots-clés : {{ $json.search.keywords }}\n📊 URLs trouvées : {{ $json.count }}\n\n📋 Liste des produits :\n\n{{ $json.message }}\n\n⏰ Prochaine exécution dans 12h",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1340,
        400
      ],
      "id": "eb0d8846-520e-46c1-ac4b-79bf79ca28a0",
      "name": "Send to Telegram",
      "webhookId": "66350354-24cf-466c-8ae8-27fa8e364811",
      "credentials": {
        "telegramApi": {
          "id": "bbSpMaDhGhtQ0NsS",
          "name": "vloggs"
        }
      }
    }
  ],
  "connections": {
    "Toutes les 12h1": {
      "main": [
        [
          {
            "node": "Mistral AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral AI Agent2": {
      "main": [
        [
          {
            "node": "Build Search URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Mistral AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Build Search URL": {
      "main": [
        [
          {
            "node": "Scrape AliExpress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape AliExpress": {
      "main": [
        [
          {
            "node": "Extract Product IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Product IDs": {
      "main": [
        [
          {
            "node": "Send to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1248ff57bfd92ecd35d6e909ff9bf32c5b6af424a815fb8b88da4e7cf5a5aea5"
  }
}